@-moz-document domain("www.cwjobs.co.uk") {
/* Userstyle for CWJobs.co.uk. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo */
/* Version 1.0.1 28/07/2017 17:41 */

body {
	color: #ffffff;
	background-color: #1d1d1d;
}

.header-row {
	display: none;
	background: #1d1d1d;
}

.explore-results-header {
	background-color: #1d1d1d;
	color: #ffffff;
}

.explore-results {
	background-color: #1d1d1d;
	border-right: 1px solid #ffffff;
}

/* ---Login Page--- */
.signin-form .signin-tab {
	background-color: #272727;
}

/* ---navbar--- */
.navigation .navbar {
	background-color: #272727;
}

/* ---results--- */
.job-results .job {
	-webkit-box-shadow: 0 0 5px 0 #fff;
	-moz-box-shadow: 0 0 5px 0 #fff;
	box-shadow: 0 0 5px 0 #fff !important;
	background-color: #1d1d1d;
}

.job-results .job.new {
	background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg…1.5-1.6%203.9-6.7%201.2-1.8-8.6%205-1.6-1.4%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E) no-repeat top right #1d1d1d;
	background-size: 42px;
}

.extended-results-heading {
	color: #ffffff;
	background-color: #f89e1d;
}

.suggested-location {
	background-color: #1d1d1d;
	color: #ffffff;
}

.explore-results-main-header {
	background-color: #1d1d1d;
}

/* ---results top bar--- */
.sort-by {
	background-color: #1d1d1d;
}

.job-results {
	background-color: #1d1d1d;
}

/* ---applied jobs--- */
.job-results .job.applied {
	background-color: rgba(33, 255, 81, 0.13);
}

.job-results .job.seen .job-title a, .job-results .job.seen .job-title a:visited, .job-results .job.seen .see-job-col a, .job-results .job.seen .see-job-col a:visited {
	color: #a55adc;
}

/* ---badges share same colour schema as reed.co.uk dark theme--- */

/* ---featured badge--- */
.job-results .job .job-title .label-featured {
	background-color: #e25b89;
	color: #fff;
	margin-top: -5px;
	margin-left: 0;
}

/* ---page nav--- */
.results-footer-links-container {
	background-color: #272727;
}

.results-footer-links-container .pagination li span.active {
	color: #ffffff;
}

/* ---saved jobs--- */
.saved-jobs-container {
	background: #272727;
}

.saved-job-card {
	background: #272727;
}

/* ---job page--- */
.social-links-row {
	background-color: #272727;
}

.jbe-row {
	background-color: #272727;
}

.jbe-container {
	background-color: #272727;
}

.job-content {
	background-color: #272727;
}

#bottom-button-panel .buttons-panel {
	background-color: #272727;
}

#bottom-button-panel {
	background-color: #272727;
}

.travelTime-container {
	background-color: #272727;
}

/* ---people also viewed--- */
.rj-results-container .rj-list-holder {
	background-color: #272727;
	border: 0px solid #ffffff;
}

.rj-results-container .rj-list-holder .rj-jobs-list .rj-visible-row .rj-job-container {
	background-color: #272727;
}

/* ---related jobs--- */
.related-links-container {
	border: 0px solid #ebebeb;
	background-color: #272727;
}

.related-links-container .related-links ul.relatedJobsList {
	background-color: #272727;
}

/* ---footer--- */
footer, footer .copyright {
	background: #272727;
	padding: 1em 0;
}

footer .menu .header {
	color: #ffffff;
}

footer a, footer a:link, footer a:visited {
	color: #989898;
}

/* ---profile page--- */
.main-form {
	background-color: #272727;
}

textarea.application-letter {
	color: black;
}

.info-alert-header, .info-alert-header.activeAlert, .info-alert-header.pausedAlert {
	background-color: #4c4c4c;
}
}