@-moz-document domain("downdetector.com"), domain("downdetector.co.uk") {
/* Userstyle for Downdetector.com. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo */
/* Version 1.0 29/09/2016 22:29 */

body {
	color: #be1e2d;
	background-color: #212121;
}

a {
	color: #0b83a8 !important;
}

/* ---Rate, Country check and Stay up to date boxes--- */
.well {
	background-color: #212121;
	border: 1px solid #2088c3;
}

/* ---Search box--- */
input.search-query {
	background-color: #212121;
	color: #be1e2d;
	border-color: #0b83a8;
}

/* ---Alert Box--- */
.alert {
	color: #000000;
}

.alert-warning {
	background-color: #f04e4e;
	border-color: #000000;
}

/* ---Nav bar with path included--- */
.breadcrumb>li {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
}

.breadcrumb {
	background-color: #353535;
}

/* ---Report Problem Button--- */
.btn-danger {
	color: #fff !important;
}

/* ---Other buttons--- */
.btn {
	color: #fff !important;
	background-image: linear-gradient(to bottom,#cc433d,#e15450);
	border: 0px solid rgba(255, 255, 255, 0);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0);
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	background-color: #bd362f;
}

/* ---Twitter Widget Fix--- */
.timeline-Widget {
	background-color: #212121;
	border: 1px solid rgb(32, 136, 195);
}

.timeline-Header-title {
	color: #0b83a8;
}

/* ---Table--- */
.table th, .table td {
	border-top: 1px solid #be1e2d;
}

.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
	background-color: #2d2d2d;
}

/* ---header / footer borders--- */
.page-header {
	border-bottom: 1px solid #0b83a8;
}

.footer {
	border-top: 1px solid #0b83a8;
}
}