@-moz-document url-prefix("https://gab.ai") {
/* Userstyle for Gab.ai. Created by: 2E0PGS */
/* Based on: https://userstyles.org/styles/143498/gab-dark */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo */
/* Version 1.0 04/09/2017 02:17 */

/* Notice I have refactored this theme and updated it to fix broken themeing */

.main-login {
	background: #2f3d51;
	color: #d2d5d9;
}
.main-login .header .header__link {
	color: #e0e2e5;
}
.main-login .content__left__box.content__left__box--topics .content__left__box__topic {
	border-bottom: 1px solid #2f3d51;
	color: #d2d5d9;
	background: #212c3b;
}
.main-login .content__left__box h3 {
	color: #d2d5d9;
	border-bottom: 1px solid #2f3d51;
	background: #212c3b;
}
.main-login .content__left__box {
	background: #212c3b;
	border: 1px solid #4e5e75;
}
.main-login .content .content__right .content__right__box {
	background: #212c3b;
	border: 1px solid #4e5e75;
}
.main-login .post .post__score .post__score__score .active-score.up-score {
	color: #d2d5d9;
}
.main-login .post .post__meta .post__meta__name .post__meta__name__full {
	font-weight: bold;
	color: #d2d5d9;
}
.main-login .post .post__meta .post__meta__actions .post__meta__actions__link {
	color: #c9cdd0;
}
.main-login .post .post__meta .post__meta__body {
	color: #dedfe1;
}
.main-login .content .content__right .content__right__box h3 {
	border-bottom: 1px solid #2f3d51;
}
.main-login .verified-badge {
	background: transparent;
}
.home .home__onboarding .home__onboarding__step {
	background: #212c3b;
	border: 1px solid #4e5e75;
	color: #cfd2d6;
}
.home .home__onboarding .home__onboarding__step > span {
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 3px dotted rgb(98, 106, 116);
	border-radius: 50%;
	line-height: 62px;
	position: relative;
}
.ion, .ionicons, .ion-alert:before, .ion-alert-circled:before, .ion-android-add:before, .ion-android-add-circle:before, .ion-android-alarm-clock:before, .ion-android-alert:before, .ion-android-apps:before, .ion-android-archive:before, .ion-android-arrow-back:before, .ion-android-arrow-down:before, .ion-android-arrow-dropdown:before, .ion-android-arrow-dropdown-circle:before, .ion-android-arrow-dropleft:before, .ion-android-arrow-dropleft-circle:before, .ion-android-arrow-dropright:before, .ion-android-arrow-dropright-circle:before, .ion-android-arrow-dropup:before, .ion-android-arrow-dropup-circle:before, .ion-android-arrow-forward:before, .ion-android-arrow-up:before, .ion-android-attach:before, .ion-android-bar:before, .ion-android-bicycle:before, .ion-android-boat:before, .ion-android-bookmark:before, .ion-android-bulb:before, .ion-android-bus:before, .ion-android-calendar:before, .ion-android-call:before, .ion-android-camera:before, .ion-android-cancel:before, .ion-android-car:before, .ion-android-cart:before, .ion-android-chat:before, .ion-android-checkbox:before, .ion-android-checkbox-blank:before, .ion-android-checkbox-outline:before, .ion-android-checkbox-outline-blank:before, .ion-android-checkmark-circle:before, .ion-android-clipboard:before, .ion-android-close:before, .ion-android-cloud:before, .ion-android-cloud-circle:before, .ion-android-cloud-done:before, .ion-android-cloud-outline:before, .ion-android-color-palette:before, .ion-android-compass:before, .ion-android-contact:before, .ion-android-contacts:before, .ion-android-contract:before, .ion-android-create:before, .ion-android-delete:before, .ion-android-desktop:before, .ion-android-document:before, .ion-android-done:before, .ion-android-done-all:before, .ion-android-download:before, .ion-android-drafts:before, .ion-android-exit:before, .ion-android-expand:before, .ion-android-favorite:before, .ion-android-favorite-outline:before, .ion-android-film:before, .ion-android-folder:before, .ion-android-folder-open:before, .ion-android-funnel:before, .ion-android-globe:before, .ion-android-hand:before, .ion-android-hangout:before, .ion-android-happy:before, .ion-android-home:before, .ion-android-image:before, .ion-android-laptop:before, .ion-android-list:before, .ion-android-locate:before, .ion-android-lock:before, .ion-android-mail:before, .ion-android-map:before, .ion-android-menu:before, .ion-android-microphone:before, .ion-android-microphone-off:before, .ion-android-more-horizontal:before, .ion-android-more-vertical:before, .ion-android-navigate:before, .ion-android-notifications:before, .ion-android-notifications-none:before, .ion-android-notifications-off:before, .ion-android-open:before, .ion-android-options:before, .ion-android-people:before, .ion-android-person:before, .ion-android-person-add:before, .ion-android-phone-landscape:before, .ion-android-phone-portrait:before, .ion-android-pin:before, .ion-android-plane:before, .ion-android-playstore:before, .ion-android-print:before, .ion-android-radio-button-off:before, .ion-android-radio-button-on:before, .ion-android-refresh:before, .ion-android-remove:before, .ion-android-remove-circle:before, .ion-android-restaurant:before, .ion-android-sad:before, .ion-android-search:before, .ion-android-send:before, .ion-android-settings:before, .ion-android-share:before, .ion-android-share-alt:before, .ion-android-star:before, .ion-android-star-half:before, .ion-android-star-outline:before, .ion-android-stopwatch:before, .ion-android-subway:before, .ion-android-sunny:before, .ion-android-sync:before, .ion-android-textsms:before, .ion-android-time:before, .ion-android-train:before, .ion-android-unlock:before, .ion-android-upload:before, .ion-android-volume-down:before, .ion-android-volume-mute:before, .ion-android-volume-off:before, .ion-android-volume-up:before, .ion-android-walk:before, .ion-android-warning:before, .ion-android-watch:before, .ion-android-wifi:before, .ion-aperture:before, .ion-archive:before, .ion-arrow-down-a:before, .ion-arrow-down-b:before, .ion-arrow-down-c:before, .ion-arrow-expand:before, .ion-arrow-graph-down-left:before, .ion-arrow-graph-down-right:before, .ion-arrow-graph-up-left:before, .ion-arrow-graph-up-right:before, .ion-arrow-left-a:before, .ion-arrow-left-b:before, .ion-arrow-left-c:before, .ion-arrow-move:before, .ion-arrow-resize:before, .ion-arrow-return-left:before, .ion-arrow-return-right:before, .ion-arrow-right-a:before, .ion-arrow-right-b:before, .ion-arrow-right-c:before, .ion-arrow-shrink:before, .ion-arrow-swap:before, .ion-arrow-up-a:before, .ion-arrow-up-b:before, .ion-arrow-up-c:before, .ion-asterisk:before, .ion-at:before, .ion-backspace:before, .ion-backspace-outline:before, .ion-bag:before, .ion-battery-charging:before, .ion-battery-empty:before, .ion-battery-full:before, .ion-battery-half:before, .ion-battery-low:before, .ion-beaker:before, .ion-beer:before, .ion-bluetooth:before, .ion-bonfire:before, .ion-bookmark:before, .ion-bowtie:before, .ion-briefcase:before, .ion-bug:before, .ion-calculator:before, .ion-calendar:before, .ion-camera:before, .ion-card:before, .ion-cash:before, .ion-chatbox:before, .ion-chatbox-working:before, .ion-chatboxes:before, .ion-chatbubble:before, .ion-chatbubble-working:before, .ion-chatbubbles:before, .ion-checkmark:before, .ion-checkmark-circled:before, .ion-checkmark-round:before, .ion-chevron-down:before, .ion-chevron-left:before, .ion-chevron-right:before, .ion-chevron-up:before, .ion-clipboard:before, .ion-clock:before, .ion-close:before, .ion-close-circled:before, .ion-close-round:before, .ion-closed-captioning:before, .ion-cloud:before, .ion-code:before, .ion-code-download:before, .ion-code-working:before, .ion-coffee:before, .ion-compass:before, .ion-compose:before, .ion-connection-bars:before, .ion-contrast:before, .ion-crop:before, .ion-cube:before, .ion-disc:before, .ion-document:before, .ion-document-text:before, .ion-drag:before, .ion-earth:before, .ion-easel:before, .ion-edit:before, .ion-egg:before, .ion-eject:before, .ion-email:before, .ion-email-unread:before, .ion-erlenmeyer-flask:before, .ion-erlenmeyer-flask-bubbles:before, .ion-eye:before, .ion-eye-disabled:before, .ion-female:before, .ion-filing:before, .ion-film-marker:before, .ion-fireball:before, .ion-flag:before, .ion-flame:before, .ion-flash:before, .ion-flash-off:before, .ion-folder:before, .ion-fork:before, .ion-fork-repo:before, .ion-forward:before, .ion-funnel:before, .ion-gear-a:before, .ion-gear-b:before, .ion-grid:before, .ion-hammer:before, .ion-happy:before, .ion-happy-outline:before, .ion-headphone:before, .ion-heart:before, .ion-heart-broken:before, .ion-help:before, .ion-help-buoy:before, .ion-help-circled:before, .ion-home:before, .ion-icecream:before, .ion-image:before, .ion-images:before, .ion-information:before, .ion-information-circled:before, .ion-ionic:before, .ion-ios-alarm:before, .ion-ios-alarm-outline:before, .ion-ios-albums:before, .ion-ios-albums-outline:before, .ion-ios-americanfootball:before, .ion-ios-americanfootball-outline:before, .ion-ios-analytics:before, .ion-ios-analytics-outline:before, .ion-ios-arrow-back:before, .ion-ios-arrow-down:before, .ion-ios-arrow-forward:before, .ion-ios-arrow-left:before, .ion-ios-arrow-right:before, .ion-ios-arrow-thin-down:before, .ion-ios-arrow-thin-left:before, .ion-ios-arrow-thin-right:before, .ion-ios-arrow-thin-up:before, .ion-ios-arrow-up:before, .ion-ios-at:before, .ion-ios-at-outline:before, .ion-ios-barcode:before, .ion-ios-barcode-outline:before, .ion-ios-baseball:before, .ion-ios-baseball-outline:before, .ion-ios-basketball:before, .ion-ios-basketball-outline:before, .ion-ios-bell:before, .ion-ios-bell-outline:before, .ion-ios-body:before, .ion-ios-body-outline:before, .ion-ios-bolt:before, .ion-ios-bolt-outline:before, .ion-ios-book:before, .ion-ios-book-outline:before, .ion-ios-bookmarks:before, .ion-ios-bookmarks-outline:before, .ion-ios-box:before, .ion-ios-box-outline:before, .ion-ios-briefcase:before, .ion-ios-briefcase-outline:before, .ion-ios-browsers:before, .ion-ios-browsers-outline:before, .ion-ios-calculator:before, .ion-ios-calculator-outline:before, .ion-ios-calendar:before, .ion-ios-calendar-outline:before, .ion-ios-camera:before, .ion-ios-camera-outline:before, .ion-ios-cart:before, .ion-ios-cart-outline:before, .ion-ios-chatboxes:before, .ion-ios-chatboxes-outline:before, .ion-ios-chatbubble:before, .ion-ios-chatbubble-outline:before, .ion-ios-checkmark:before, .ion-ios-checkmark-empty:before, .ion-ios-checkmark-outline:before, .ion-ios-circle-filled:before, .ion-ios-circle-outline:before, .ion-ios-clock:before, .ion-ios-clock-outline:before, .ion-ios-close:before, .ion-ios-close-empty:before, .ion-ios-close-outline:before, .ion-ios-cloud:before, .ion-ios-cloud-download:before, .ion-ios-cloud-download-outline:before, .ion-ios-cloud-outline:before, .ion-ios-cloud-upload:before, .ion-ios-cloud-upload-outline:before, .ion-ios-cloudy:before, .ion-ios-cloudy-night:before, .ion-ios-cloudy-night-outline:before, .ion-ios-cloudy-outline:before, .ion-ios-cog:before, .ion-ios-cog-outline:before, .ion-ios-color-filter:before, .ion-ios-color-filter-outline:before, .ion-ios-color-wand:before, .ion-ios-color-wand-outline:before, .ion-ios-compose:before, .ion-ios-compose-outline:before, .ion-ios-contact:before, .ion-ios-contact-outline:before, .ion-ios-copy:before, .ion-ios-copy-outline:before, .ion-ios-crop:before, .ion-ios-crop-strong:before, .ion-ios-download:before, .ion-ios-download-outline:before, .ion-ios-drag:before, .ion-ios-email:before, .ion-ios-email-outline:before, .ion-ios-eye:before, .ion-ios-eye-outline:before, .ion-ios-fastforward:before, .ion-ios-fastforward-outline:before, .ion-ios-filing:before, .ion-ios-filing-outline:before, .ion-ios-film:before, .ion-ios-film-outline:before, .ion-ios-flag:before, .ion-ios-flag-outline:before, .ion-ios-flame:before, .ion-ios-flame-outline:before, .ion-ios-flask:before, .ion-ios-flask-outline:before, .ion-ios-flower:before, .ion-ios-flower-outline:before, .ion-ios-folder:before, .ion-ios-folder-outline:before, .ion-ios-football:before, .ion-ios-football-outline:before, .ion-ios-game-controller-a:before, .ion-ios-game-controller-a-outline:before, .ion-ios-game-controller-b:before, .ion-ios-game-controller-b-outline:before, .ion-ios-gear:before, .ion-ios-gear-outline:before, .ion-ios-glasses:before, .ion-ios-glasses-outline:before, .ion-ios-grid-view:before, .ion-ios-grid-view-outline:before, .ion-ios-heart:before, .ion-ios-heart-outline:before, .ion-ios-help:before, .ion-ios-help-empty:before, .ion-ios-help-outline:before, .ion-ios-home:before, .ion-ios-home-outline:before, .ion-ios-infinite:before, .ion-ios-infinite-outline:before, .ion-ios-information:before, .ion-ios-information-empty:before, .ion-ios-information-outline:before, .ion-ios-ionic-outline:before, .ion-ios-keypad:before, .ion-ios-keypad-outline:before, .ion-ios-lightbulb:before, .ion-ios-lightbulb-outline:before, .ion-ios-list:before, .ion-ios-list-outline:before, .ion-ios-location:before, .ion-ios-location-outline:before, .ion-ios-locked:before, .ion-ios-locked-outline:before, .ion-ios-loop:before, .ion-ios-loop-strong:before, .ion-ios-medical:before, .ion-ios-medical-outline:before, .ion-ios-medkit:before, .ion-ios-medkit-outline:before, .ion-ios-mic:before, .ion-ios-mic-off:before, .ion-ios-mic-outline:before, .ion-ios-minus:before, .ion-ios-minus-empty:before, .ion-ios-minus-outline:before, .ion-ios-monitor:before, .ion-ios-monitor-outline:before, .ion-ios-moon:before, .ion-ios-moon-outline:before, .ion-ios-more:before, .ion-ios-more-outline:before, .ion-ios-musical-note:before, .ion-ios-musical-notes:before, .ion-ios-navigate:before, .ion-ios-navigate-outline:before, .ion-ios-nutrition:before, .ion-ios-nutrition-outline:before, .ion-ios-paper:before, .ion-ios-paper-outline:before, .ion-ios-paperplane:before, .ion-ios-paperplane-outline:before, .ion-ios-partlysunny:before, .ion-ios-partlysunny-outline:before, .ion-ios-pause:before, .ion-ios-pause-outline:before, .ion-ios-paw:before, .ion-ios-paw-outline:before, .ion-ios-people:before, .ion-ios-people-outline:before, .ion-ios-person:before, .ion-ios-person-outline:before, .ion-ios-personadd:before, .ion-ios-personadd-outline:before, .ion-ios-photos:before, .ion-ios-photos-outline:before, .ion-ios-pie:before, .ion-ios-pie-outline:before, .ion-ios-pint:before, .ion-ios-pint-outline:before, .ion-ios-play:before, .ion-ios-play-outline:before, .ion-ios-plus:before, .ion-ios-plus-empty:before, .ion-ios-plus-outline:before, .ion-ios-pricetag:before, .ion-ios-pricetag-outline:before, .ion-ios-pricetags:before, .ion-ios-pricetags-outline:before, .ion-ios-printer:before, .ion-ios-printer-outline:before, .ion-ios-pulse:before, .ion-ios-pulse-strong:before, .ion-ios-rainy:before, .ion-ios-rainy-outline:before, .ion-ios-recording:before, .ion-ios-recording-outline:before, .ion-ios-redo:before, .ion-ios-redo-outline:before, .ion-ios-refresh:before, .ion-ios-refresh-empty:before, .ion-ios-refresh-outline:before, .ion-ios-reload:before, .ion-ios-reverse-camera:before, .ion-ios-reverse-camera-outline:before, .ion-ios-rewind:before, .ion-ios-rewind-outline:before, .ion-ios-rose:before, .ion-ios-rose-outline:before, .ion-ios-search:before, .ion-ios-search-strong:before, .ion-ios-settings:before, .ion-ios-settings-strong:before, .ion-ios-shuffle:before, .ion-ios-shuffle-strong:before, .ion-ios-skipbackward:before, .ion-ios-skipbackward-outline:before, .ion-ios-skipforward:before, .ion-ios-skipforward-outline:before, .ion-ios-snowy:before, .ion-ios-speedometer:before, .ion-ios-speedometer-outline:before, .ion-ios-star:before, .ion-ios-star-half:before, .ion-ios-star-outline:before, .ion-ios-stopwatch:before, .ion-ios-stopwatch-outline:before, .ion-ios-sunny:before, .ion-ios-sunny-outline:before, .ion-ios-telephone:before, .ion-ios-telephone-outline:before, .ion-ios-tennisball:before, .ion-ios-tennisball-outline:before, .ion-ios-thunderstorm:before, .ion-ios-thunderstorm-outline:before, .ion-ios-time:before, .ion-ios-time-outline:before, .ion-ios-timer:before, .ion-ios-timer-outline:before, .ion-ios-toggle:before, .ion-ios-toggle-outline:before, .ion-ios-trash:before, .ion-ios-trash-outline:before, .ion-ios-undo:before, .ion-ios-undo-outline:before, .ion-ios-unlocked:before, .ion-ios-unlocked-outline:before, .ion-ios-upload:before, .ion-ios-upload-outline:before, .ion-ios-videocam:before, .ion-ios-videocam-outline:before, .ion-ios-volume-high:before, .ion-ios-volume-low:before, .ion-ios-wineglass:before, .ion-ios-wineglass-outline:before, .ion-ios-world:before, .ion-ios-world-outline:before, .ion-ipad:before, .ion-iphone:before, .ion-ipod:before, .ion-jet:before, .ion-key:before, .ion-knife:before, .ion-laptop:before, .ion-leaf:before, .ion-levels:before, .ion-lightbulb:before, .ion-link:before, .ion-load-a:before, .ion-load-b:before, .ion-load-c:before, .ion-load-d:before, .ion-location:before, .ion-lock-combination:before, .ion-locked:before, .ion-log-in:before, .ion-log-out:before, .ion-loop:before, .ion-magnet:before, .ion-male:before, .ion-man:before, .ion-map:before, .ion-medkit:before, .ion-merge:before, .ion-mic-a:before, .ion-mic-b:before, .ion-mic-c:before, .ion-minus:before, .ion-minus-circled:before, .ion-minus-round:before, .ion-model-s:before, .ion-monitor:before, .ion-more:before, .ion-mouse:before, .ion-music-note:before, .ion-navicon:before, .ion-navicon-round:before, .ion-navigate:before, .ion-network:before, .ion-no-smoking:before, .ion-nuclear:before, .ion-outlet:before, .ion-paintbrush:before, .ion-paintbucket:before, .ion-paper-airplane:before, .ion-paperclip:before, .ion-pause:before, .ion-person:before, .ion-person-add:before, .ion-person-stalker:before, .ion-pie-graph:before, .ion-pin:before, .ion-pinpoint:before, .ion-pizza:before, .ion-plane:before, .ion-planet:before, .ion-play:before, .ion-playstation:before, .ion-plus:before, .ion-plus-circled:before, .ion-plus-round:before, .ion-podium:before, .ion-pound:before, .ion-power:before, .ion-pricetag:before, .ion-pricetags:before, .ion-printer:before, .ion-pull-request:before, .ion-qr-scanner:before, .ion-quote:before, .ion-radio-waves:before, .ion-record:before, .ion-refresh:before, .ion-reply:before, .ion-reply-all:before, .ion-ribbon-a:before, .ion-ribbon-b:before, .ion-sad:before, .ion-sad-outline:before, .ion-scissors:before, .ion-search:before, .ion-settings:before, .ion-share:before, .ion-shuffle:before, .ion-skip-backward:before, .ion-skip-forward:before, .ion-social-android:before, .ion-social-android-outline:before, .ion-social-angular:before, .ion-social-angular-outline:before, .ion-social-apple:before, .ion-social-apple-outline:before, .ion-social-bitcoin:before, .ion-social-bitcoin-outline:before, .ion-social-buffer:before, .ion-social-buffer-outline:before, .ion-social-chrome:before, .ion-social-chrome-outline:before, .ion-social-codepen:before, .ion-social-codepen-outline:before, .ion-social-css3:before, .ion-social-css3-outline:before, .ion-social-designernews:before, .ion-social-designernews-outline:before, .ion-social-dribbble:before, .ion-social-dribbble-outline:before, .ion-social-dropbox:before, .ion-social-dropbox-outline:before, .ion-social-euro:before, .ion-social-euro-outline:before, .ion-social-facebook:before, .ion-social-facebook-outline:before, .ion-social-foursquare:before, .ion-social-foursquare-outline:before, .ion-social-freebsd-devil:before, .ion-social-github:before, .ion-social-github-outline:before, .ion-social-google:before, .ion-social-google-outline:before, .ion-social-googleplus:before, .ion-social-googleplus-outline:before, .ion-social-hackernews:before, .ion-social-hackernews-outline:before, .ion-social-html5:before, .ion-social-html5-outline:before, .ion-social-instagram:before, .ion-social-instagram-outline:before, .ion-social-javascript:before, .ion-social-javascript-outline:before, .ion-social-linkedin:before, .ion-social-linkedin-outline:before, .ion-social-markdown:before, .ion-social-nodejs:before, .ion-social-octocat:before, .ion-social-pinterest:before, .ion-social-pinterest-outline:before, .ion-social-python:before, .ion-social-reddit:before, .ion-social-reddit-outline:before, .ion-social-rss:before, .ion-social-rss-outline:before, .ion-social-sass:before, .ion-social-skype:before, .ion-social-skype-outline:before, .ion-social-snapchat:before, .ion-social-snapchat-outline:before, .ion-social-tumblr:before, .ion-social-tumblr-outline:before, .ion-social-tux:before, .ion-social-twitch:before, .ion-social-twitch-outline:before, .ion-social-twitter:before, .ion-social-twitter-outline:before, .ion-social-usd:before, .ion-social-usd-outline:before, .ion-social-vimeo:before, .ion-social-vimeo-outline:before, .ion-social-whatsapp:before, .ion-social-whatsapp-outline:before, .ion-social-windows:before, .ion-social-windows-outline:before, .ion-social-wordpress:before, .ion-social-wordpress-outline:before, .ion-social-yahoo:before, .ion-social-yahoo-outline:before, .ion-social-yen:before, .ion-social-yen-outline:before, .ion-social-youtube:before, .ion-social-youtube-outline:before, .ion-soup-can:before, .ion-soup-can-outline:before, .ion-speakerphone:before, .ion-speedometer:before, .ion-spoon:before, .ion-star:before, .ion-stats-bars:before, .ion-steam:before, .ion-stop:before, .ion-thermometer:before, .ion-thumbsdown:before, .ion-thumbsup:before, .ion-toggle:before, .ion-toggle-filled:before, .ion-transgender:before, .ion-trash-a:before, .ion-trash-b:before, .ion-trophy:before, .ion-tshirt:before, .ion-tshirt-outline:before, .ion-umbrella:before, .ion-university:before, .ion-unlocked:before, .ion-upload:before, .ion-usb:before, .ion-videocamera:before, .ion-volume-high:before, .ion-volume-low:before, .ion-volume-medium:before, .ion-volume-mute:before, .ion-wand:before, .ion-waterdrop:before, .ion-wifi:before, .ion-wineglass:before, .ion-woman:before, .ion-wrench:before, .ion-xbox:before {
	color: #c6ced8;
}
.main-login .post .post__repost a {
	color: #d2d5d9;
}
.main-login .post .post__embed .post__embed__body {
	border: 1px solid #4e5e75;
	color: #d2d5d9;
	margin-top: 15px;
	margin-right: 15px;
}
.mini-user-list .mini-user-list__item {
	border-bottom: 1px solid #2f3d51;
}
.mini-user-list .mini-user-list__item .mini-user-list__item__name {
	color: #d2d5d9;
}
.mini-user-list .mini-user-list__item .mini-user-list__item__name .mini-user-list__item__name__pro {
	background: #25ca7f;
	color: #1d2f26;
}
.main-login .content__left__box.content__left__box--categories .content__left__box__category {
	border-bottom: 1px solid #2f3d51;
	color: #d2d5d9;
	background: #212c3b;
}
.main-login .content__left__box.content__left__box--categories .content__left__box__category:hover {
	background: #2f3d51;
	color: #25ca7f;
}
.censor-info {
	color: #d2d5d9 !important;
	border-top: 1px solid #4e5e75;
	border-bottom: 1px solid #4e5e75;
}
.mini-user-list,
.mini-user-list .mini-user-list__item {
	color: #c7cacf !important;
	background: #212c3b !important;
	border-bottom: 1px solid #2f3d51!important;
}
.home .mini-user-list .mini-user-list__item .mini-user-list__item__name, .home .mini-user-list .mini-user-list__item .mini-user-list__item__username {
	color: #c7cacf !important;
}
.composer {
	background: #212c3b !important;
	border: 1px solid #4e5e75 !important;
}
.composer textarea {
	background: #2f3d51 !important;
	border-bottom: 1px solid #edeeee;
}
.composer .composer__content .composer__content__categories {
	background: #212c3b !important;
	border-bottom: 1px solid #4e5e75 !important;
}
.composer .composer__content .composer__content__categories a {
	border-right: 1px solid #4e5e75 !important;
	background: #212c3b;
	color: #25ca7f;
}
.composer .composer__content .composer__content__count {
	color: #d2d5d9;
}
.composer.composer--open textarea {
	color: #d2d5d9;
}
.composer .composer__content .composer__content__button.composer__content__button--gif {
	background: #2f3d51;
	color: #d1d4d8;
}
.main-login .content__left__box.content__left__box--topics .content__left__box__topic:hover {
	background: #2f3d51;
	text-decoration: none;
	color: #34cf7f;
}
.main-login .header .header__link:after {
	background: #25ca7f;
}
.profile__bar {
	background: #212c3b !important;
	border-bottom: 1px solid #4e5e75 !important;
	border-left: 1px solid #4e5e75 !important;
	border-right: 1px solid #4e5e75 !important;
	height: 100% !important;
}
.profile__box {
	background: #212c3b !important;
	border: 1px solid #4e5e75 !important;
}
.main-login .profile .profile__bio {
	color: #d2d5d9;
}
.profile__bar .profile__bar__nav:hover {
	border-color: #25ca7f !important;
}
.user-list .user-list__item .user-list__item__follow.user-list__item__follow--following {
	background: #2f3d51;
	border-color: #4e5e75;
	color: #d2d5d9;
}
.profile__bar .profile__bar__follow.profile__bar__follow--settings {
	background: #2f3d51 !important;
	border-color: #4e5e75 !important;
}
.user-list .user-list__load:hover {
	background: #2f3d51;
	color: #d2d5d9;
}
.user-list .user-list__item {
	border-bottom: 1px solid #4e5e75;
}
.main-login .profile .profile__upload {
	background: rgb(47, 61, 81);
	border: 1px solid #212c3b;
}
.main-login .profile .profile__upload.profile__upload--cover {
	color: #d2d5d9;
}
.settings-menu .settings-menu__item {
	border-bottom: 1px solid #4e5e75 !important;
	border-right: 1px solid #4e5e75 !important;
	color: #d2d5d9 !important;
}
.settings-menu {
	background: #212c3b !important;
}
label {
	color: #d2d5d9 !important;
}
.settings-wrapper h2 {
	background: #212c3b !important;
	border-bottom: 1px solid #4e5e75 !important;
}

.settings-menu .settings-menu__item.settings-menu__item--active {
	color: #25ca7f !important;
	background: #212c3b !important;
}
.main-login h2 {
	color: #d2d5d9 !important;
}
.main-login .form-control {
	color: #d2d5d9;
	background-color: #2f3d51;
	border: 1px solid #4e5e75;
}
.main-login p {
	color: #d2d5d9;
}
.topic h1 {
	color: #d2d5d9;
}
.billing table thead tr {
	background: #2f3d51 !important;
}
.billing .billing__history {
	border: 1px solid #4e5e75 !important;
}
.billing .billing__row {
	border-top: 1px solid #4e5e75 !important;
	border-bottom: 1px solid #4e5e75 !important;
}
.billing .billing__row .billing__row__action {
	background: #2f3d51 !important;
}
.alert.alert-info {
	border-color: #4e5e75 !important;
	background: #2f3d51 !important;
	color: #d2d5d9 !important;
}
.main-login .main-title {
	color: #25ca7f;
}
.censor-box .censor-box__form button {
	background: #27cc81 !important;
}
input {
	background-color: #2f3d51;
}
input[type="text"], input[type="password"], input[type="number"], textarea {
	border: 1px solid #212c3b !important;
}
.composer-modal .composer-modal__content h2 {
	background: #212c3b !important;
}
.notification-list .notification-list__item.notification-list__item--empty .notification-list__item__message {
	padding-bottom: 20px;
	background: #212c3b !important;
	border: 1px solid #4e5e75 !important;
}
.notification-filter a.active {
	border-color: #25ca7f !important;
	color: #25ca7f !important;
}
.notification-filter   span,.notification-filter  a {
	display: inline-block;
	padding: 5px 15px;
	border-radius: 3px;
	background: #212c3b !important;
	border: 1px solid #4e5e75 !important;
	color: #d2d5d9 !important;
	text-decoration: none !important;
}
.notification-list:after {
	background: #4e5e75 !important;
}
.notification-list .notification-list__item:after {
	background: #2f3d51 !important;
	border: 2px solid #25ca7f !important;
}
.main-login .post.post--filter .active {
	color: #25ca7f !important;
	text-decoration: none !important;
}
.main-login .post .post__embed-post {
	margin-top: 15px;
	margin-right: 15px;
	border: 1px solid #4e5e75;
}
.main-login .post .post__embed-post:hover {
	border-color: #4e5e75;
	background: #2f3d51;
}
.main-login .post .post__embed .post__embed__body:hover {
	background: #2f3d51;
}
.main-login .post .post__embed .post__embed__body {
	border: 1px solid #4e5e75;
	color: #d2d5d9;
	background: #212c3b;
}
.composer-modal .composer-modal__content {
	background: #212c3b !important;
}
.composer .composer__content .composer__content__button.composer__content__button--gif {
	background: #2f3d51 !important;
	color: #888;
}
.composer .composer__content .composer__content__button.composer__content__button--gif:hover {
	background: #25ca7f !important;
}
.composer .composer__content .composer__content__button:hover {
	background: #25ca7f !important;
}
.main-login .header .header__link.header__link--notifications {
	background: #2f3d51;
	color: #333;
	border: 1px solid #4e5e75;
}
.main-login .header .header__link.header__link--compose, .main-login .header .header__link.header__link--notifications {
	background: #2f3d51;
	border: 1px solid #4e5e75;
}
.home .home__onboarding .home__onboarding__step:hover {
	background: #2f3d51;
}
.composer .composer__content .composer__content__social i:hover {
	background: #34cf7f !important;
}
.donation {
	background: linear-gradient(to right, #212c3b, #212c3b);
}
.tv-guide .tv-guide__show .tv-guide__show__cta.tv-guide__show__cta--passive {
	border-color: #333;
	color: #d2d5d9;
}
.popular-content h2 {
	border-bottom: 1px solid #4e5e75 !important;
}
.mini-user-list .mini-user-list__item .mini-user-list__item__name {
	color: #d2d5d9 !important;
}
.main-login .header .header__link.header__link--profile img {
	background: #212c3b;
	border: 1px solid #212c3b;
}
.main-login .header .header__dropdown a {
	border-bottom: 1px solid #4e5e75;
	border-left: 1px solid #4e5e75;
	border-right: 1px solid #4e5e75;
	background: #212c3b;
}
.main-login .header .header__dropdown a:hover {
	background: #2f3d51;
}
.main-login .post-list.post-list--alt {
	background: #212c3b !important;
}
.main-login .post-list.post-list--alt .post-list__title {
	background: #212c3b;
}
.post-modal .post-modal__content {
	background: transparent;
}
.main-login .post-list.post-list--alt .post-list__title .post-list__title__sort .active {
	color: #25ca7f;
	background: #212c3b;
}
.main-login .post .post__meta .post__meta__name .post__meta__name__pro {
	background: #25ca7f;
	margin-left: 5px;
	margin-right: 3px;
	color: #1d1c1c;
}
.profile__box.profile__box--mutual .profile__box--mutual__container {
	border-top: 1px solid #4e5e75 !important;
}
.profile__box .profile__box__link {
	border-top: 1px solid #4e5e75 !important;
}
.profile__bar .profile__bar__follow:hover {
	background: #2dbd72 !important;
	border-color: #2dbd72 !important;
}
.profile__bar .profile__bar__follow {
	background: #2f3d51 !important;
	color: white;
	border: 2px solid #4e5e75 !important;
}
.profile__bar .profile__bar__follow.profile__bar__follow--following {
	background: white;
	border-color: #333 !important;
	color: #d2d5d9 !important;
}
.profile__bar .profile__bar__nav.profile__bar__nav--score {
	border-color: #e14283 !important;
}
.profile__bar .profile__bar__nav {
	color: #25ca7f !important;
	border-bottom: 3px solid transparent;
}
.user-list .user-list__item .user-list__item__name .user-list__item__name__name {
	color: #d2d5d9;
}
.composer .composer__content .composer__content__categories a.active {
	background: #2f3d51 !important;
	opacity: 1;
	transform: translateY(1px);
}
.composer__window[_ngcontent-sie-8] {
	background: #212c3b !important;
	border: 1px solid #4e5e75 !important;
}
.main-login .header {
	height: 66px;
	border-bottom: 1px solid #4e5e75;
}
.main-login .header .header__dropdown {
	position: absolute;
	background: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
}
.pro-introduction .pro-introduction__middle .pro-introduction__middle__feature {
	border: 1px solid #4e5e75;
	color: #bcc0c5;
	background: #212c3b;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 25px;
	text-align: left;
	min-height: 165px;
	margin-bottom: 30px;
}
.pro-introduction .pro-introduction__middle {
	border-top: 1px solid #4e5e75;
	border-bottom: 1px solid #4e5e75;
	border-left: 1px solid #4e5e75;
	border-right: 1px solid #4e5e75;
	background: #212c3b;
}
.pro-introduction .pro-introduction__upgrade {
	margin: 0;
	margin-bottom: 0;
	padding: 25px 0 40px;
	background: #161922;
	text-align: center;
	color: white;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
}
.route-pro .wrapper {
	padding-left: 0;
	background: #2f3d51;
	background: -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF);
	background: linear-gradient(to left, #2f3d51, #2f3d51);
}
.pro-introduction .pro-introduction__header p {
	color: #f3f1f1;
}
.pro-introduction .pro-introduction__header h1 {
	margin-top: 10px;
	font-weight: 700;
	color: #25ca7f;
}
pro-introduction .pro-introduction__header .pro-introduction__header__introducing {
	background: #25ca7f;
	color: #060606;
	border: 2px solid #000000;
}
.pro-introduction .pro-introduction__header {
	background: #212c3b;
}
.main-login .header .header__link {
	background: #212c3b;
}
.main-login .post .post__meta .post__meta__name .post__meta__name__username {
	color: #d2d5d9;
	font-size: 13px;
	background: #212c3b;
}
.main-login .post .post__meta .post__meta__name .post__meta__extra a {
	color: #888 !important;
	background: #212c3b;
}
.main-login .post .post__score a:hover {
	background: #212c3b;
}
.main-login .post .post__score a {
	color: #333;
	background: #212c3b;
}
.main-login .post .post__meta .post__meta__actions .post__meta__actions__link {
	background: #212c3b;
}
.main-login .post .post__meta .post__meta__name .post__meta__name__full {
	background: #212c3b;
}
.main-login .post .post__repost a {
	background: #212c3b;
}
.main-login .post.post--filter .active {
	background: #212c3b;
}
.main-login a:active, .main-login a:visited {
	background: #2f3d51;
}
.main-login .post .post__meta .post__meta__body a {
	color: #e14283;
	background: #212c3b;
}
.main-login .post .post__translate a {
	color: #999;
	background: #212c3b;
}
.main-login .post-list-separator {
	border-bottom: 1px solid #4e5e75;
}
.main-login .post-list.post-list--alt .post.post--load {
	margin-bottom: 15px;
	text-align: center;
	border: none !important;
	padding: 0;
	color: #e14283;
}
.main-login .post-list .post {
	margin: 5px;
	color: #d2d5d9;
	border-top: 1px solid #2f3d51;
}
.post-modal .post-modal__header a {
	font-size: 40px;
	color: white;
	text-decoration: none;
	background: transparent;
}
.mini-user-list .mini-user-list__item .ion-person-add:hover {
	background: #24c97e !important;
	color: white;
	border-color: #25ca7f !important;
}
.main-login .profile .profile__avatar {
	background: white;
	border: 4px solid #25ca7f;
}
.profile__bar .profile__bar__nav {
	background: #212c3b !important;
}
.profile__box.profile__box--mutual .profile__box--mutual__user {
	background: transparent !important;
}
.main-login a:active, .main-login a:visited {
	background: #212c3b;
}
.composer .composer__content .composer__content__categories .composer__content__categories__container {
	width: 100% !important;
	height: 38px;
	overflow: hidden;
}
.notification-list .notification-list__item .notification-list__item__message, .notification-list .notification-list__item .notification-list__item__mention {
	background: #212c3b !important;
	border: 1px solid #4e5e75 !important;
}
.notification-list .notification-list__item .notification-list__item__message span a {
	font-weight: bold;
	color: #d2d5d9 !important;
	background: #212c3b !important;
}
a.inner-post-url{
	 background: #212c3b;
}

.main-login .content .content__right .content__right__box {
	color: #afb4ba;
}

.composer .composer__content .composer__content__social i {
	background: #2f3d51;
}
.composer .composer__content .composer__content__social a {
	background: #2f3d51;
}
.main-login .post .post__meta .post__meta__name .post__meta__name__full {
	background: transparent;
}
.main-login .post .post__meta .post__meta__name .post__meta__name__username {
	background: transparent;
}
.main-login .profile .profile__name .post__meta__name__pro{
background: #25ca7f;
}
.popular-content .popular-content__right {
	height: 1100px !important;
}
.reply-container {
	background: #212c3b;
}
.main-login .post.post--load-after {
	background: rgb(33, 44, 59);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-login .post .post__translate .post__translation__body {
	margin-right: 15px;
	border: 1px solid #4e5e75;
}
.main-login .post-list.post-list--fluid .post .post__embed {
	padding-right: 0px;
}
.main-login .content__left__box a {
	border: 1px solid transparent;
	color: #fdfdfd;
}
.main-login .content__left__box a.content__left__box__topic {
	background: rgba(255, 255, 255, 0.5);
	border-color: transparent;
}
.main-login .content__left__box a:hover, .main-login .content__left__box a.content__left__box__active {
	background: #2f3d51 !important;
	border: 1px solid #2f3d51;
	color: #25ca7f;
}
.main-login .content__left__box a.content__left__box__topic div {
	font-size: 11px;
	color: #bcc0c5;
	opacity: .5;
}
.mini-user-list .mini-user-list__item:hover {
	background: #2f3d51 !important;
}

.main-login .wrapper {
max-width: 1440px;
}
/*[[1113]]*/

.main-login {
	font-family: "proxima-nova", "helveticaneue-light", "helvetica", sans-serif
}
/*[[2222]]*/
/*************************************************************************************/
/********************************** Gab Index ****************************************/
/*************************************************************************************/

.header h2 {
	color: #f5f5f5;
}
body {
	background-color: #2f3d51;
}
.posts-bg {
	background: #25ca7f;
	height: 80px;
}
.header .header__button.header__button--primary:hover {
	background: #25ca7f;
	color: white;
}
.header .header__button.header__button--primary {
	border-color: #25ca7f;
	color: #25ca7f;
}
.header h2:after {
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #2f3d51);
}
.quote .quote__body {
	text-shadow: 0px 0px 0px #ffffff;
	color: #d2d5d9;
}
.quote i {
	color: #d2d5d9;
}
.posts .posts__container .posts__container__post {
	background: #212c3b;
}
.posts .posts__container .posts__container__post * {
	font-family: "HelveticaNeue-Light";
	color: #d2d5d9;
}
.header .header__button {
	border: 2px solid rgba(190, 194, 200, 1);
	color: rgb(190, 194, 200);
}
/*************************************************************************************/
/*********************************** Gab Chat ****************************************/
/*************************************************************************************/
.chats .chats__left {
	border-right: 1px solid #4e5e75 !important;
	background: #212c3b !important;
}
.chat .chat__message-container {
	background: #2f3d51 !important;
	border-bottom: 1px solid #4e5e75 !important;
}
.chats .chats__left .chats__left__item:hover, .chats .chats__left .chats__left__item.chats__left__item--active {
	background: #2f3d51 !important;
	border-bottom: 1px solid #4e5e75 !important;
}
.chats .chats__left .chats__left__item {
	border-bottom: 1px solid #4e5e75 !important;
}
.chat .chat__users {
	background: #212c3b !important;
	border-left: 1px solid #4e5e75 !important;
}
.chats .chats__right {
	background: #2f3d51 !important ;
}
.chat .chat__message__form input {
	background: #212c3b !important;
}
.chat .chat__header {
	border-bottom: 1px solid #4e5e75 !important;
	background: #212c3b !important;
}
.chat .chat__users .chat__users__item {
	border-bottom: 1px solid #4e5e75 !important;
}
.chat .chat__users form input {
	background: #000 !important;
}
.chat .chat__users h2 {
	border-bottom: 1px solid #2f3d51 !important;
}
.chat .chat__users form {
	border-bottom: 1px solid #2f3d51 !important;
}
.chat .chat__message__form {
	border-top: 1px solid #4e5e75 !important;
}
.chats .chats__left h2 {
	border-bottom: 1px solid #4e5e75 !important;
	border-top: 1px solid #4e5e75 !important;
}
.main-login .header {
	background: #212c3b;
}
.chats .chats__left h2 a:hover {
	background: #25ca7f !important;
}
.chats .chats__left h2 a {
	border: 1px solid #4e5e75 !important;
}
.chats .chats__left .chats__left__item h3 {
	color: #d2d5d9 !important;
}
.chats .chats__left .chats__left__form form input {
	background: #000 !important;
}
/*************************************************************************************/
/************************************** Gab TV ***************************************/
/*************************************************************************************/

.tv-watch .watch__comments h3, .tv-watch .watch__viewers h3 {
	border-bottom: 0px solid #4e5e75;
	background: #212c3b;
}
.tv-watch .watch__viewers .watch__viewers__scroll {
	background: #212c3b;
}
.tv-watch .watch__viewers .watch__viewers__item {
	border-bottom: 1px solid #4e5e75;
}
.tv-watch .watch__comments, .tv-watch .watch__viewers {
	border: 1px solid #4e5e75;
}
.tv-watch .watch__comments h2 {
	background: #212c3b;
}
.tv-watch .watch__comments .watch__comments__item {
	border-bottom: 1px solid #4e5e75;
	background: #212c3b;
}
.tv-watch .watch__comments form input {
	border-top: 1px solid #4e5e75;
	border-bottom: 1px solid #4e5e75;
	background: #2f3d51;
}
.tv-watch .watch__comments .watch__comments__item a {
	background: #212c3b;
}
.tv-watch .watch__comments, .tv-watch .watch__viewers {
	background: #212c3b;
}
.tv-watch .watch__comments h3 a {
	background: #212c3b;
}
.tv-watch .watch__viewers .watch__viewers__item {
	background: #2f3d51;
	color: #d2d5d9;
}
.tv-watch .watch__viewers .watch__viewers__item:hover {
	background: #415065;
}
.tv-watch .watch__comments form button {
	background: #25ca7f;
	border: 1px solid #3b4759;
	color: #212c3b;
}
.tv-guide .tv-guide__show {
	display: block;
	background: #212c3b;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	color: #fff;
	margin-bottom: 30px;
	overflow: hidden;
}
.tv-guide .tv-guide__show:hover {
	text-decoration: none;
	color: #e14283;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}
.tv-guide .tv-guide__show .tv-guide__show__user strong {
	display: block;
	font-size: 15px;
	color: #e7e7e7;
	margin-top: -1px;
}
/*************************************************************************************/
/********************************* Gab Mobile ****************************************/
/*************************************************************************************/
.main-login .mobile-nav {
	border-bottom: 1px solid #4e5e75;
	position: relative;
}
.main-login .mobile-nav a {
	color: #ddd;
}
.main-login .mobile-nav:after {
	background: linear-gradient(to left, rgba(204, 190, 190, 0), rgba(204, 190, 190, 0));
}
.main-login .mobile-nav a:hover {
	background: #212c3b;
}
/*************************************************************************************/
/************************************ Scroll Bars ************************************/
/**************************** Does not work with firefox *****************************/
/*************************************************************************************/
/*************************************************************************************/
::-webkit-scrollbar {
	width: 8px;
	height: 6px;
}
::-webkit-scrollbar-thumb {
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 0px 20px rgb(78, 94, 117);
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset -1px 0px 0px 20px rgb(33, 44, 59);
	border-radius: 0px;
}

/* ------2E0PGS fixes for Gab Dark------ */

/* ---Link previews / attachments info --- */
.post-attachment-url__title {
	color: #ffffff !important;
}

.post-attachment-url:hover {
	background: #2f3d51 !important;
}

.post-attachment-url__source {
	color: #e8e8e8 !important;
}

.post-attachment-url__description {
	color: #ffffff !important;
}

/* ---polls--- */
.poll__option {
	color: #d8d8d8 !important;
}

.poll__results__option__bar {
	background: #404b5a !important;
}

/* ---voted up button--- */
.ion-chevron-up:before {
	color: #25cc80 !important
}

/* ---post options bar--- */
.composer__content__attachment__option {
	background: #2f3d51 !important;
	color: #fff !important;
}

.composer__content__attachment__option:hover {
	background: #e14283 !important;
	color: white !important;
}

.composer__content__attachment {
	background: #212c3b !important;
}

/* ---drop down avatar box--- */
.drop-element.header-dropdown .header-dropdown__content {
	background: #212c3b !important;
}

.drop-element.header-dropdown .header-dropdown__link:hover {
	background: #e14283 !important;
}

.drop-element.header-dropdown .header-dropdown__link {
	color: #fff;
}

/* ---drop down notifications box--- */
.drop-element.header-dropdown .header-dropdown__content__notifications .header-dropdown__content__notifications__item {
	color: #fff !important;
}
}
