@-moz-document domain("itsalmo.st") {
/* Userstyle for itsalmo.st. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo */
/* Version 1.0 25/09/2016 22:56 */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary, time, video {
	background-color: black;
	color: blueviolet;
}

/* ---Millisecond on the timer--- */
.timer-pane .timer span.milliseconds {
	color: blueviolet;
}

/* ---Footer--- */
.footer .social, .footer {
	background-color: black;
}

.footer {
	border-top: 1px solid rgb(43, 74, 226);
}

.footer .social a {
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0);
}

.footer .gradient {
	background: -webkit-linear-gradient(top, rgb(0, 0, 0) 0%,rgb(0, 0, 0) 100%);
}

/* ---Share Button--- */
.modal {
	background-color: #000;
}

.left-right-gradient {
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 100%);
}

/* ---Create New Modal--- */
a.btn, a.btn.disabled, a.btn.disabled:hover, a.btn.disabled:active, a.btn:hover {
	border: 1px solid #2b4ae2;
	background: -webkit-linear-gradient(top, #000000 0%,#000000 50%,#000000 51%,#000000 100%);
}
}