@-moz-document domain("limetorrents.cc") {
/* Userstyle for Limetorrents.cc. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo */
/* Version 1.0 06/10/2016 08:43 */

body {
	background-color: #292929;
}

body, h1, h2, h3, h4, h5, h6, .fileline {
	color: white;
}

/* ---Tables--- */
.table2 th, .table2 td, .table3 th, .table3 td, .tdleft a {
	background-color: #292929;
	color: white;
}

/* ---Links--- */
A:link, A:active, A:visited {
	color: white;
}

/* ---pages--- */
.torrentinfo {
	color: #FFF;
}

#content {
	background-color: #292929;
	color: white;
}
}