@-moz-document domain("milo.yiannopoulos.net") {
/* Userstyle for Milo.Yiannopoulos.net. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo */
/* Version 1.0.1 21/03/2017 20:23 */

body {
	color: #dcdcdc;
}

/* ---Links--- */
a {
	color: #a9a9a9;
}

a:hover {
	color: #ffffff;
}

/* ---Caption Text--- */
.cb-body-light .cb-entry-content .alignleft .wp-caption-text, .cb-body-light .cb-entry-content .alignright .wp-caption-text, .cb-body-light .cb-entry-content .aligncenter .wp-caption-text {
	color: #cecece;
}

/* ---Quote Text--- */
.cb-body-light blockquote {
	color: #b9b9b9;
}

/* ---Titles--- */
.cb-body-light .cb-article-footer .cb-title, .cb-body-light .cb-article-footer #reply-title {
	color: #dcdcdc;
	border-bottom: 5px solid #949494;
}

.cb-body-light .cb-meta-below .slides li .cb-post-title a {
	color: #a7a7a7;
}

/* ---Background of Main Content Section--- */
.cb-body-light #cb-content, .cb-body-light .cb-hp-section, .cb-body-light .cb-post-wrap {
	background: #101010 !important;
}

/* ---Most Viewed Side Bar--- */
.cb-body-light .cb-sidebar {
	background: #000000;
}

/* ---Most Viewed Side Bar Title Text--- */
.cb-body-light h1, .cb-body-light h2, .cb-body-light h3, .cb-body-light h4, .cb-body-light h5 {
	color: #c5c5c5;
}

/* ---Most Viewed Side Bar Summary Text--- */
.cb-body-light .cb-module-block .cb-post-title a {
	color: #9e9e9e;
}

/* ---Tags--- */
.cb-body-light .cb-post-meta .cb-element a, .cb-body-light .cb-post-meta .cb-element>span {
	color: #bfac00;
	background: #000000;
}

/* ---Floating Footer--- */
.nc_wrapper.floatBottom {
	background-color: #161616 !important;
}

div.nc_socialPanel div.totes.totesalt:not(:nth-child(1)), div.nc_socialPanel:hover div.totes.totesalt:not(:nth-child(1)), .nc_socialPanel .totes.totesalt .swp_count, .nc_socialPanel .totes.totesalt .swp_label {
	color: #e0e0e0;
}

/* ---Comment Section--- */
.post-content .post-message p:last-child {
	color: #a5a5a5;
}

.comment__header .author a {
	color: #d8d8d8 !important;
}
}