@-moz-document domain("pipl.com") {
/* Userstyle for Pipl.com. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo */
/* Version 1.0 06/10/2016 09:55 */

body, #profile_container #profile_container_bottom {
	background-color: #1d1d1d;
	color: #b9b9b9;
}

/* ---Search Boxes---*/
.find #findall, .find #findlocation, #lan_head #head_login .find #findall, #lan_head #head_login .find #findlocation, #sidebar .win_item .content .inputs input {
	color: #b9b9b9;
	background-color: #212121;
	border: 1px solid #215d9a;
}

/* --Footers--- */
#bottom #content, .footer-gray #footer, .footer-white #footer {
	background-color: #1d1d1d;
}

/* ---Header--- */
#lan_head {
	background: #212121;
}

/* ---Main Text--- */
#main_content, #profile_container #profile_container_bottom .person_result .person_content .line2, #sidebar .win_item.filters .content ul li.all>label, #sidebar .win_item.filters .content ul li label, #sidebar .win_item.filters .content ul li ul li label, #profile_container #profile_container_middle .row-line .values ul li a, #match_results .content .profile_result .profile_result_content.small .line2, #no_match_results .content .profile_result .profile_result_content.small .line2, #match_results .content .profile_result .profile_result_content.small .line2.link, #no_match_results .content .profile_result .profile_result_content.small .line2.link, #profile_container #profile_container_middle .row-line .values .search_link {
	color: #b9b9b9;
}
}