@-moz-document domain("www.reed.co.uk") {
/* Userstyle for Reed.co.uk. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo */
/* Version 1.0.2 01/08/2017 17:18 */

#content, #container, .search-results .results-container, .job-result:hover, #main-search, .search-results-header, .search-results .results, .refine-search .facet-box, .refine-search .form-field, .bottom-controls, .bottom-controls .pages, .job, .job-header, .metadata, .jobs-content, .signed-in-prompt, .box, .section, .shortlisted-jobs, .saved-searches, .confirmation-container, .courses .link-block, .applications, .drafts, .job-alerts {
	background: #1d1d1d;
}

body, #content, .refine-search h4, label, .pagination-back, .pagination-back:hover, .pagination-next, .pagination-next:hover, .pagination-previous, .pagination-previous:hover, .contact-details .location, .contact-details .phone, .contact-details .email, .confirmation-container .back-link-container .pagination-back {
	color: #fff;
}

.small, small {
	color: #bdbdbd;
}

/* ---Links--- */
.metadata .location a, .metadata-mobile .location a, .breadcrumbs a {
	color: #bdbdbd;
}

.custom-select select {
	background: #1d1d1d !important;
	color: white !important;
}

.tag, .tag a {
	background: #005a9f;
	color: #fff !important;
}

/* ---Page Numbers--- */
.bottom-controls .page.selected {
	color: #fff;
	background: #005a9f!important;
}

.bottom-controls .page {
	color: #fff;
}

/* ---Input Boxes--- */
input[type=date], input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text] {
	border: 1px solid #ffffff;
	background-color: #1d1d1d;
	color: white;
}

.tt-dropdown-menu .tt-suggestion, .tt-menu .tt-suggestion {
	background-color: #1d1d1d;
	color: white;
}

textarea {
	background-color: #292929;
	color: white;
}

.cv-upload-container .section-title span {
	background: #292929;
}

/* ---Profile Complete Meter--- */
.completed-o-meter .percentage-large {
	color: #fff;
}

/* ---Similar Jobs--- */
.courses .link-block-header h4, .similar-jobs .link-block-header h4 {
	background: #1d1d1d;
	color: #fff;
}

.link-block, .li:hover {
	background: #1d1d1d;
	color: #fff;
}

.courses .link-block li .link-block-item-extra-field, .similar-jobs .link-block li .link-block-item-extra-field {
	color: #e2e2e2;
}

/* ---Account Side Menu--- */
.account-side-menu li.active {
	background: #005a9f;
}

.account-side-menu li.active a {
	color: #fff;
}

/* ---Required Skills--- */
.lozenge {
	background: #005a9f;
}

/* ---Applied Badges--- */
.badge.badge-applied, .badge.label-applied, .label.badge-applied, .label.label-applied {
	background-color: #419e3b;
	color: #ffffff;
	border: 1px solid #419e3b;
}

/* ---Endingsoon Badge--- */
.badge.badge-ending, .badge.label-ending, .label.badge-ending, .label.label-ending {
	background-color: #ff6464;
	color: #ffffff;
	border: 1px solid #ff6464;
}

/* ---New Badge--- */
.badge.badge-draft, .badge.badge-new, .badge.label-draft, .badge.label-new, .label.badge-draft, .label.badge-new, .label.label-draft, .label.label-new {
	background-color: #6c8bff;
	color: #ffffff;
	border: 1px solid #6c8bff;
}

/* ---Ended Badge--- */
.badge.badge-ending, .badge.label-ending, .label.badge-ending, .label.label-ending {
	background-color: #f00;
	color: #ffffff;
	border: 1px solid #f00;
}

/* ---Disabled Buttons--- */
.button-disabled {
	background-color: #808080!important;
}

/* ---form questions--- */
.screening-questions .form-field {
	background: #1d1d1d;
}
}