@-moz-document domain("searx.me") {
/* Userstyle for Searx.me. Created by: 2E0PGS */
/* Based on: https://userstyles.org/styles/115066/searx-me-dark */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo */
/* Version 1.0 21/11/2016 22:21 */

body, html {
	background-color: #161616;
	background: url("https://i.imgur.com/qXnH6pt.jpg") fixed #161616 !important;
	background-size: cover !important;
}

body {
	color: #aaa;
}

.result-default:hover, .result-code:hover, .result-torrent:hover, .result-videos:hover, .result-map:hover {
	background-color: rgba(0,0,0,0);
}

.result_header a .highlight {
	background-color: rgba(0,0,0,0);
}

.result_header a {
	color: #55acee;
}

.result-content {
	color: #bbb;
}

.navbar-default {
	background-color: #101010;
	border-color: rgba(0,0,0,0);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #555;
	background-color: #050505;
}

.form-control {
	color: #bbb;
	background-color: #242424;
	background-image: none;
	border: 1px solid #666;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.btn-default {
	color: #bbb;
	background-color: #242424;
	border-color: #666;
}

.highlight {
	background: none;
	font-weight: 900;
}

.panel {
	background-color: #101010;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default {
	border-color: #666;
}

.panel-default > .panel-heading {
	color: #bbb;
	background-color: #050505;
	border-color: #666;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background-color: #242424;
}

.label-default {
	background-color: rgba(0,0,0,0);
}

.label {
	color: #bbb
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color: #101010;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: 0px solid #DDD;
}

a {
	color: #bbb;
}
}