@-moz-document domain("torrentproject.se") {
/* Userstyle for Torrentproject.se. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo */
/* Version 1.0 09/10/2016 02:35 */

body, #leftnav, #tbd, #atd, #tsf, #feedBody {
	background-color: #292929;
}

body, h1, h2, h3, h4, h5, h6, .fileline, p, div.torrent_cont {
	color: #486aa4;
}

/* ---Logo Fix--- */
#up_big a, #up_big a:visited, #down_big a, #down_big a:visited, #up a, #up a:visited, #down a, #down a:visited {
	color: white !important;
}

/* ---Links---*/
a, a.gb4 {
	color: #4678CC !important;
}

/* ---Search Box--- */
.liost, .lsb {
	background: none repeat scroll 0 0 #353434;
	color: #E0767C;
	border: none;
}

#tb {
	box-shadow: -1px 0 4px RGBA(211, 225, 249, 0);
}

.lsbb, .ds {
	border: none;
	background: RGBA(41, 41, 41, 0);
}

#main_content {
	color: #E0767C;
}

/* ---Loading Time Bar and Divider--- */
gac_bb, .order, #similarfiles div {
	background: none repeat scroll 0 0 #353434;
	color: #FFF;
	border-bottom: 1px solid #486AA4;
	text-shadow: none;
}

.picked {
	color: #FFF;
}

.notpicked {
	color: #a4a4a4 !important;
}

/* ---RSS Feed--- */
#feedBody {
	border: 1px solid #414141;
}

.mselp, .msel {
	background-color: #353434;
}

/* ---Torrent Page--- */
.furk-info h3, .gac_bb, .comments_heading {
	background: none repeat scroll 0 0 #486AA4;
	color: #FFF;
}

.torrent-warning, .about {
	text-shadow: none;
}

div#submission textarea#message, #text_area_mtorrent {
	background-color: #353434;
	color: white !important;
}

/* ---Advanced Search--- */
.gls {
	color: #fff;
}

/* ---Trackers--- */
table.p_in_words td + td {
	text-shadow: none;
}

th.tts {
	color: #FFF !important;
	text-shadow: none;
}

tr.even_tr_class {
	background-color: #353434;
}

th.big {
	background: none repeat scroll 0 0 #353434;
	color: #4567A2;
	text-shadow: none;
}

/* ---Lighten Blue Color--- */
.blue {
	color: #486aa4;
}

/* ---SideNav Icon Fix--- */
.miconp, .micon {
	background-color: rgba(0, 0, 0, 0);
}

/* ---Page Numbers--- */
.cur {
	border: 1px solid #2600D5;
}
}