@-moz-document domain("websdr.ewi.utwente.nl") {
/* Userstyle for Websdr.ewi.utwente.nl. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo */
/* Version 1.0 10/10/2016 04:42 */

body, .mainspan, .maincontrols, .tab, .ctl {
	color: #cecece;
	background-color: #151517;
}

.tab {
	border: 1px solid white;
}

.tabs [type=radio]:checked + label {
	background: #3e3e3e;
}

.tabs label:hover {
	background: #5f5d5d;
}

.tabs label {
	background: #252525;
}
}