@-moz-document url-prefix("http://wsprnet.org/drupal/") {
/* Userstyle for http://wsprnet.org/drupal/. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo */
/* Version 1.0 04/09/2017 02:26 */

/* Notice I have not added themeing for the user areas yet */

/* ---Body--- */
body {
	color: #fff;
	background-color: #0e0e0e;
}

/* ---Landing page notice--- */
.region-highlighted {
	background-color: #336299;
}

/* ---Page--- */
#page {
	background-color: #2b2b2b;
	color: white;
}

/* ---Page titles--- */
.form-item label {
	font-size: 1em;
	color: #fff;
}

/* ---Left side bar--- */
#sidebar-left .block, #sidebar-right .block {
	background-color: #2b2b2b;
}
}
